{% extends 'administrator/admin_home.html' %}

{% block nav %}
    <nav class="nav nav-masthead  w-100 mx-auto  justify-content-start">
        <!--<a class="nav-link text-white" aria-current="page" href="home">Profile</a>-->

        <div class="navbar-collapse justify-content-end">
            <div class="nav-item">
                <form method="GET" action="/webapps2023/admin">
                    <button type="submit" data-toggle="logout_model" class="btn btn-outline-light">Back</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    {% if users.has_other_pages %}
        </br>
        <form method="GET" action="{{request.get_full_path}}">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a type="submit" {% if users.has_previous %} href="?page={{ users.previous_page_number }}&type={{ type }}" class="page-link " {% else %} class="page-link disabled" {% endif %}  >Previous</a>
                    </li>
                    {% for item in total_page %}
                        <li class="page-item color_common">
                            <a type="submit" class="page-link {% if users.number == item %} active color_common {% endif %}" href="?page={{ item }}&type={{ type }}">{{ item }}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item">
                        <a type="submit" {% if users.has_next %} href="?page={{ users.next_page_number }}&type={{ type }}" class="page-link" {% else %} class="page-link disabled" {% endif %} >Next</a>
                    </li>

                </ul>
            </nav>
        </form>
    {% endif %}

    <div class="container rounded bg-light">
        {% if  users|length  == 0 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>No records to show.</strong></div>
        {% else %}

            <table class="table table-striped ">
            <thead>
            <tr>
                <th class="col">ID</th>

                <th>Username</th>
                <th>Create date</th>
                <th>Last Login</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr>
                    <td>{{ item.user.id }}</td>
                    <td>{{ item.user.username }}</td>
                    <td>{{ item.user.date_joined }}</td>
                    <td>{{ item.user.last_login }}</td>
                    <td>{{ item.user.first_name  }}</td>
                    <td>{{ item.user.last_name  }}</td>
                    <td>{{ item.currency  }}</td>
                    <td>{{ item.balance  }}</td>
                    <td>{{ item.user.email  }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

{% endblock %}